.window {
    width: 100%;
    height: 100%;
    background-color: #060606;
    border-radius: 0.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .nav {
        flex-shrink: 0;
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        .title {
            font-size: 0.85rem;
            color: #cfcfcf;
        }

        .dots {
            display: flex;
            gap: 0.5rem;

            .dot {
                cursor: pointer;
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;

                &.yellow {
                    background-color: #e4b50e;
                }

                &.green {
                    background-color: #28ca40;
                }

                &.red {
                    background-color: #f44141;
                }
            }
        }
    }
}

/* * ───────── Scrollable Content ───────── */

.main-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.25rem;

    /* consistent scrollbar */
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #2a2a2a;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}